<html>

<head>
<title>Tina and Eunice</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<script src="script.js"></script>
</head>


<body>
<h1>hi Tina</h1>
<h2>this is going to be an amazing site/app</h2>
<h3>what do you want the content to look like?</h3>

<p>Ever since the beginning of time, programmers had to deal with weird things involving revision control when working on projects</p>
<p>Github is the best place to work on a project with others since it deals with having multiple versions of a project at one time! </p>
</body>

</html>