<html>

<head>
<title>Tina and Eunice</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<script src="script.js"></script>
<script type="text/javascript" src="phaser.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</head>




<body>
<H4>Whenever people have spare time</H4>
<h1>They invariably look to the internet for something to do</h1>
<h2>Which is why</h2>
<h3>We have brought the world sensational time waster flappy bird to you!</h3>

<p>Ever since the beginning of time, programmers had to deal with weird things involving revision control when working on projects</p>
<p>Github is the best place to work on a project with others since it deals with having multiple versions of a project at one time! </p>
</body>



</html>
